
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#cal {
    background-color: #7c7777;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(250, 4, 4, 0.915);
    width: 260px;
    text-align: center;
}


#display {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    padding: 5px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}


#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
   
    
}


button {
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}


button:hover {
    background-color: #fa0808;
}


button:active {
    transform: scale(1.98);
}


button:nth-child(16) {
    background-color: #ff6666;
    color: white;
}

button:nth-child(16):hover {
    background-color: #ff4d4d;
}


button:nth-child(15) {
    background-color: #4caf50;
    color: white;
}

button:nth-child(15):hover {
    background-color: #45a049;
}